*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.testimonios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.testiomonios_header{
    margin: 50px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonios_header h1{
    font-size: 2.9rem;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
}